@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
    .clip-path-custom {
      clip-path: polygon(0 0, 100% 0, 100% 98%, 85% 95%, 0 100%);
    }
    .clip-path-custom-2 {
        clip-path: polygon(0 0, 100% 0, 100% 98%, 25% 95%, 0 100%);
      }
    .clip-path-custom-3 {
        clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 96%, 0 100%);
      }
  }
@keyframes lineSlideLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes lineSlideRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes nameFadeInUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-lineLeft {
  animation: lineSlideLeft 1s ease-out forwards;
}

.animate-lineRight {
  animation: lineSlideRight 1s ease-out forwards;
}

.animate-nameFadeIn {
  animation: nameFadeInUp 1s ease-out 1s forwards;
  opacity: 0;
}
